###########################################################
# Hugo
###########################################################
.hugo_build.lock
public/
resources/_gen/

# NPM
node_modules/

# generated API docs
static/api/
